.announcement {
  margin-top: 3.2rem;
  border-top: 1px solid var(--bg-title);
  width: 48.8rem;
}

.announcement a {
  color: var(--text-color-secondary);
}

.threeNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.announcementItem {
  display: flex;
  margin-top: 3.2rem;
  gap: 1.6rem;
  align-items: center;
  height: 7.2rem;

}

.announcementItem img {
  width: 7.2rem;
  height: 7.2rem;
  border-radius: 4px;
}

.announcementItem h3 {
  font: var(--font-announcement);
  background: var(--background-titles);
  display: inline;

  padding: 2px 4px;
  border-radius: 4px;
}

.announcementItem p {
  margin-top: 8px;
  font: var(--font-announcementParagraph);
  color: --text-color-primary;
  overflow: hidden;
  height: 4rem;
}